<section class="vh-100" style="background-color: #7c2e6fde">
    <section class="container py-5 w-50">
      <section class="card shadow-2-strong" style="border-radius: 1rem">
        <section class="card-body p-5">
          <h2 class="text-center">Formulario Reactivo - Pipes</h2>
          <form [formGroup]="formPipes">
            <section class="form-group my-4">
              <label class="form-label fw-bold" for="valor">Name:</label>
              <input
                class="form-control"
                type="text"
                id="valor"
                placeholder="Ingrese un valor"
                formControlName="valor"
              />
              <p class="mt-4">Value: <strong> {{ valor?.value | uppercase }} </strong></p>

              <section *ngIf="valor?.invalid && (valor?.dirty || valor?.touched)">
                <section *ngIf="valor?.errors?.['required']" class="alert alert-danger">
                    El valor es obligatorio
                </section>
                <section *ngIf="valor?.errors?.['pattern']" class="alert alert-danger">
                    El valor solo permite ingresar letras
                </section>
            </section>
            </section>
          </form>
        </section>
      </section>
    </section>
    </section>
    



<section class="container col-sm-8 col-md-6 col-xl-5">
    <h2 class="text-center">{{ title | uppercase }}</h2>
    <section>
        <h3>Uppercase Pipe</h3>
        <label for="upperCase" class="form-label">Valor:</label>
        <input type="text" id="upperCase" class="form-control" [(ngModel)]="upperCase">
        <p class="mt-3">Resultado: {{ upperCase | uppercase }}</p>
    </section>
    <section>
        <h3>Currency Pipe</h3>
        <label for="currency" class="form-label">Valor:</label>
        <section class="row">
            <section class="col-md-7">
                <input type="number" id="currency" class="form-control" [(ngModel)]="currency">
            </section>
            <section class="col-md-5">
                <select name="currencies" id="currencies" class="form-select col-md-4" [(ngModel)]="selectedCurrency">
                    <option value="{{ index }}" *ngFor="let index of currencyArray">{{ index }}</option>
                </select>
            </section>
        </section>
        <p class="mt-3">Resultado: <strong>{{ selectedCurrency }}:</strong> {{ currency | currency: selectedCurrency }}</p>
        <button class="btn btn-primary" (click)="enviar()">Guardar</button>
        <app-tabla [currencyTable]="currencyTable"></app-tabla>
    </section>
</section>
